:root {
  --background: #2F3136;
  --footer-background: #36393F;
  --footer-text: #8E9297;
  --link: #76CDEA;
  --text: #B9BBBE;
  --ghostery: #00AEF0;
  --dawn: #FF7E74;
  --width: 654px;
  --spacing: 38px;
  --margin: 112px;
}

@media screen and (min-width: 1600px) {
  :root {
    --margin: 250px;
  }
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text);
  font-size: 14px;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: rgb(0,152,240);
  background: linear-gradient(166deg, rgba(0,152,240,1) 0%, rgba(0,174,240,1) 24%, rgba(173,138,186,1) 72%, rgba(255,126,116,1) 100%);
}

@media (prefers-color-scheme: light) {
  body {
    background: rgba(0, 0, 0, 0.0);
  }

}

@media (prefers-color-scheme: dark) {
  body {
    background: rgba(0, 0, 0, 0.3);
  }

  .tile {
    color: var(--text) !important;
  }

  .tile:hover {
    color: white !important;
  }

  #logo {
    opacity: 0.34 !important;
  }
}