html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg {
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: var(--width);
  width: auto;
  max-width: var(--width);
  z-index: 1; /* important for search bar border */
}

#logo {
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.64;
}

.index #searchForm {
  margin: 25px 0px 28px 0px;
}

.tiles {
  width: var(--width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-sites {
  display: flex;
  height: 126px;
}

.search-bar-wrapper {
  height: 48px;
  margin-bottom: 30px;
}

#feedback {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 23px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.64;
  font-size: 12px;
}

#feedback:hover {
  opacity: 1;
}

#feedback img {
  margin-right: 5px;
}

#privacy-stats {
  width: 446px;
  height: 124px;
}

#second-row-header {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  display: table;
  white-space: nowrap;
  margin-bottom: 10px;
  visibility: hidden;
  transition: 0s color;
  cursor: pointer;
}

#second-row-header span:hover {
  color: white;
  transition-delay: 0.06s;
}

#second-row-header:before, #second-row-header:after {
  border-top: 2px dashed rgba(255, 255, 255, 0.18);
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 50%;
}

#account-status {
  position: absolute;
  top: 27px;
  right: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

#account-button path {
  visibility: hidden;
}
