html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg {
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: var(--width);
  width: auto;
  max-width: var(--width);
  z-index: 1; /* important for search bar border */
}

#logo {
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.64;
}

.index #searchForm {
  margin: 25px 0px 28px 0px;
}

.tiles {
  width: var(--width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-sites {
  display: flex;
  height: 126px;
}

.ads {
  visibility: hidden;
  height: 164px;
  margin-top: 20px;
  width: var(--width)
}

.ads h3 {
  text-align: center;
  font-weight: '500';
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #595161;
  display: table;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 10px;
}

.ads h3:before, .ads h3:after {
  border-top: 2px dashed #404146;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 40%;
}

.search-bar-wrapper {
  height: 48px;
  margin-bottom: 30px;
}

#feedback {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 23px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.64;
  font-size: 12px;
}

#feedback:hover {
  opacity: 1;
}

#feedback img {
  margin-right: 5px;
}

.stats {
  height: 200px;
}

#privacy-stats {
  width: 446px;
  height: 124px;
}

.box {
  color: white;
  background:  linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.11) 100%);
  border-radius: 18px;
  padding: 20px 48px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.box h3 {
  text-transform: uppercase;
  font-size: 13px;
  margin: 0;
  font-weight: normal;
  margin-bottom: 7px;
}

.box label {
  font-size: 19px;
  font-weight:  600;
  padding-bottom: 7px;
  line-height: 1.1;
}

.box span {
  font-size: 19px;
  font-weight: 600;
  margin-right: 6px;
  line-height: 1.1;
}
