.tile {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0px 10px;
  border-radius: 5px;
  width: 100px;
  height: 115px;
}

.tile:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

.tile .image-wrapper {
  background-color: white;
  padding: 13px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile img {
  height: 30px;
  width: 30px;
  transition: box-shadow 150ms ease 0s;
  border-radius: 5px;
  border: 0;
  outline: none;
}

.tile span {
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13.5px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  text-align: center;
}
